<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suporte IA | Página Inicial</title>
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon" />
    <!-- <link rel="stylesheet" href="/css/index.css" /> -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_right_altanddeleteandarrow_downwardanduploadandclose"
    />
  </head>
  <body>
    <% if(login){ %>
    <span>bem vindo <%= login.user_name %></span>
    <a href="/logout">logout</a>
    <%} else {%>
    <a href="/login">login</a>
    <%} %>
  </body>
</html>
