<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suporte IA | Chats</title>
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_right_alt"
    />
  </head>
  <body>
    <div id="user-profile" style="display: none">
      <span id="user_id">MBS1729</span>
      <span id="user_name">mauricio.santos</span>
    </div>
    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="/imgs/logo.png" alt="logo ia" />
          <h2>Osvaldo</h2>
          <h2>Sup Sistemas IA</h2>
          <p>Desenvolvido por Mauricio Brito dos Santos</p>
        </div>
        <ul class="chats">
          <li>
            <a class="chat-group">
              <img src="/imgs/CH.png" alt="chamados logo" />
              <div class="text">
                <h3>Chamados</h3>
                <p>Tudo sobre os chamados</p>
              </div>
            </a>
          </li>
          <li>
            <a class="chat-group">
              <img src="/imgs/GR.png" alt="geral logo" />
              <div class="text">
                <h3>Geral</h3>
                <p>Não sabe qual o processo?</p>
              </div>
            </a>
          </li>
          <li>
            <a class="chat-group">
              <img src="/imgs/SG.png" alt="Segregados logo" />
              <div class="text">
                <h3>Segregados</h3>
                <p>Segregados e Avaria</p>
              </div>
            </a>
          </li>
          <li>
            <a class="chat-group">
              <img src="/imgs/RB.png" alt="Recebimento logo" />
              <div class="text">
                <h3>Recebimento</h3>
                <p>Fornecedor e transferências</p>
              </div>
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <!-- chats -->
    <section class="content">
      <!-- titulo dinamico -->
      <div class="title"><%- content %></div>

      <!-- fim titulo dinamico -->
      <div class="content-chat">
        <div id="history">
          <!-- adicionando o hystory chat -->
          <!-- <div id="perg" class="msgm-group">
            <p>Olá, tudo bem ?</p>
          </div>
          <div id="resp" class="msgm-group">
            <img src="/imgs/logo.png" alt="logo ia" />
            <p>Olá! Tudo ótimo, e você? 😊 Como posso te ajudar hoje?</p>
          </div> -->
          <!-- loading -->
          <!-- <div id="loading">
            <img src="/imgs/logo.png" alt="logo ia" />
            <section class="dots-container">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </section>
          </div> -->
          <!-- fim hystory -->
        </div>
        <form id="msg-user">
          <input
            type="text"
            id="user_input"
            name="user_input"
            maxlength="100"
            required
          />
          <button type="submit" id="to-send">
            <span class="material-symbols-outlined"> arrow_right_alt </span>
          </button>
        </form>
        <p class="warning">
          O Sup Sistemas IA pode cometer erros. considere verificar informações
          importantes.
        </p>
      </div>
    </section>

    <script src="/js/index.js"></script>
  </body>
</html>
