<div class="title">
  <!-- navbar identify -->
  <span style="display: none">Geral</span>
  <!-- fim navbar identify -->
  <h1>Dúvidas Gerais</h1>
  <p>Está com dúvida e não sabe qual processo é ? pergunte aqui</p>
</div>
