<div class="title">
  <!-- navbar identify -->
  <span style="display: none">Segregados</span>
  <!-- fim navbar identify -->
  <h1>Segregados</h1>
  <p>Tudo sobre os processos Segregados e Avaria</p>
</div>
