<section class="content">
  <div class="title">
    <h1>Segregados</h1>
    <p>Tudo sobre os processos Segregados e Avaria</p>
  </div>
  <div class="content-chat">
    <div id="history">
      <!-- adicionando o hystory chat -->
      <div id="perg" class="msgm-group">
        <p>Olá, tudo bem ?</p>
      </div>
      <div id="resp" class="msgm-group">
        <img src="/imgs/logo.png" alt="logo ia" />
        <p>Olá! Tudo ótimo, e você? 😊 Como posso te ajudar hoje?</p>
      </div>
      <!-- loading -->
      <div id="loading">
        <section class="dots-container">
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
        </section>
      </div>
      <!-- fim hystory -->
    </div>
    <form id="msg-user">
      <input type="text" id="user_input" name="user_input" maxlength="100" />
      <button type="button" id="to-send">
        <span class="material-symbols-outlined"> arrow_right_alt </span>
      </button>
    </form>
    <p class="warning">
      O Sup Sistemas IA pode cometer erros. considere verificar informações
      importantes.
    </p>
  </div>
</section>
